/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navbar-logo h2 {
  color: white;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.3s ease;
}

/* Mobile view */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    right: 0;
    top: 60px;
    height: 100vh;
    width: 200px;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-links.open {
    transform: translateX(0);
  }

  .navbar-links li {
    margin: 1rem 0;
  }

  .hamburger {
    display: flex;
  }

  .bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

/* FOOTER */
.footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;

  margin-top: 15rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 1rem;
}

.footer-links a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* SEARCH BAR */
.searchbar-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  margin-top: 5rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.filter-select {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.suggestions-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggestions-dropdown li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.suggestions-dropdown li:hover {
  background-color: #f1f1f1;
}


/* CAROUSEL */

/* HIGHLIGHTS */
.highlights-section {
  text-align: center;
  padding: 20px;

  margin-top: 5rem;
}

.tabs button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.game-card {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.game-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cart-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* TESTIMONIALS */
.carousel-section {
  text-align: center;
  padding: 40px;
}

.carousel-container {
  position: relative;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial-card {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.carousel-controls {
  margin-top: 20px;
}

.carousel-controls button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #ffcc00;
}

button:focus {
  outline: none;
}


/* LOGIN */
.login-container {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-image {
  flex: 1;
  background-color: #3b004d;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  flex: 1;
  background-color: #4e0055;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.login-form p {
  margin-bottom: 30px;
  font-size: 16px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-button {
  width: 105%;
  /*105% */
  padding: 12px;
  background-color: #ffcc00;
  border: none;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.form-links {
  margin-top: 20px;
  text-align: center;
}

.form-links a {
  color: #ffcc00;
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}


/* REGISTRATION */

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2b0144;
}

.form {
  background-color: #3c005c;
  padding: 2.5rem;
  border-radius: 8px;
  color: #fff;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 2px solid #fff;
}

h2 {
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.registration-container button {
  width: 100%;
  padding: 10px;
  background-color: #5e006d;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.login-link {
  margin-top: 10px;
  color: #f0b814;
  cursor: pointer;
}


/* RATE FORM */

.rating-container {
  background-color: #3c005c;
  padding: 2rem;
  border-radius: 10px;
  color: white;
  width: 300px;
  text-align: center;
}

.rating-container .header {
  margin-bottom: 20px;
}

.rating-container .stars {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rating-container input[type='radio'] {
  display: none;
  ;
}

.rating-container .star {
  cursor: pointer;
  transition: color 200ms;
}

.rating-container textarea {
  width: 80%;
  height: 80px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  
}

.rating-container button {
  background-color: #5e006d;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.rating-containerbutton:hover {
  background-color: #7e007f;
}